# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*.so

# Logs
*.log

# Application Data/Outputs
*.wav
audio_chunks/
summaries/
transcripts/
notes/
lecture.txt
lecture_clean.txt
recording.wav
recording_norm.wav
final_notes.txt

# System
.DS_Store
